<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_PluginShortcodeWidget>
			<version>1.0.0.19</version>
		</Fishpig_Wordpress_Addon_PluginShortcodeWidget>
	</modules>
	<global>
		<blocks>
			<wp_addon_pluginshortcodewidget>
				<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Block</class>			
			</wp_addon_pluginshortcodewidget>
		</blocks>
		<helpers>
			<wp_addon_pluginshortcodewidget>
				<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Helper</class>			
			</wp_addon_pluginshortcodewidget>
		</helpers>
		<models>
			<wp_addon_pluginshortcodewidget>
				<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model</class>
			</wp_addon_pluginshortcodewidget>
		</models>
	</global>
	<frontend>
		<events>
			<wordpress_string_filter_before>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>applyStringFiltersObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_string_filter_before>
			<wordpress_sidebar_widget>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>wordpressSidebarWidgetObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_sidebar_widget>
			<wordpress_post_setasglobal_before>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>wordpressPostSetasglobalBeforeObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_post_setasglobal_before>
			<wordpress_get_post_content>
				<observers>
					<wp_addon_pluginshortcodewidget>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_PluginShortcodeWidget_Model_Observer</class>
						<method>wordpressGetPostContentObserver</method>
					</wp_addon_pluginshortcodewidget>
				</observers>
			</wordpress_get_post_content>
		</events>
	</frontend>
	<wordpress>
		<core>
			<modules>
				<wp_addon_pluginshortcodewidget />
			</modules>
			<globals>
				<revSliderVersion />
				<rs_double_jquery_script/>
			</globals>
		</core>
	</wordpress>
</config>